.observation-view {

  .observation-view-controls {
    > span {
      font-weight: bold;
      display: block;
      margin-left: 7px;
      margin-right: 7px;
      margin-top: 2px;
      padding-right: 2.2em;
      padding-top: .3em;
      position: relative;
      vertical-align: middle;

      &.review-status-y:after,
      &.review-status-n:after {
        background: rgba(0,0,0,0.05);
        border-radius: 2em;
        height: 2em;
        line-height: 2;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 2em;
      }

      &.review-status-y:after {
        content: '\2713';
        color: #090;
      }

      &.review-status-n:after {
        content: '?'
      }
    }
  }

  textarea#observation-remarks {
    width: 100%;
  }

  .tablist {
    border-color: #aaa;

    .tablist-backward-button,
    .tablist-forward-button,
    .tablist-container,
    .tablist-panel,
    .tablist-tab {
      border-color: #aaa;
    }

    .tablist-panel {
      padding: 0 1em;
    }

    .row {
      margin: 0;
    }

  }
}

@media print {
  .observation-view-wrapper .observation-view > .observation-view-controls{
    display: none;
  }
}
