.observation-view {

  .observation-view-controls {
    > .left-aligned > label {
      clear: left;
      float: left;
      padding: 0 5px 0 0;
    }

    > .left-aligned,
    > span {
      font-weight: bold;
      display: block;
      line-height: 1.9;
      margin: 0;
      position: relative;

      &.review-status-y:after,
      &.review-status-n:after {
        background: rgba(0,0,0,0.05);
        border-radius: 2em;
        height: 2em;
        line-height: 2;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 2em;
      }

      &.review-status-y:after {
        content: '\2713';
        color: #090;
      }

      &.review-status-n:after {
        content: '?'
      }
    }
  }

  .admin {
    margin: 0;
    padding: 4px 10px;
  }

  .hidden {
    display: none;
    visibility: hidden;
  }

  textarea#observation-remarks {
    width: 100%;
  }

  .tablist {
    border-color: #aaa;

    .tablist-backward-button,
    .tablist-forward-button,
    .tablist-container,
    .tablist-panel,
    .tablist-tab {
      border-color: #aaa;
    }

    .tablist-panel {
      padding: 0 1em;
    }

    .row {
      margin: 0;
    }

  }

// left and right stack, and change label text alignment
  @media screen and (min-width:768px) {
    .left-aligned {
      > label {
        float: left;
        clear: left;
        width: 7em;
        padding-right: 8px;
      }

      > select,
      > .admin {
        float: left;
        // margin: 0 0 1em .5em;
        margin-bottom: 5px;
      }

      &:after {
        display: block;
        content: ' ';
        clear: both;
      }
    }

    .right-aligned {
      > label,
      > .label {
        text-align: right;
      }
    }
  }
}

@media print {
  .observation-view-wrapper .observation-view > .observation-view-controls{
    display: none;
  }
}
